.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title, .subtitle, p {
    color: rgb(245, 245, 245);
    text-align: center;
}

.title {
    font-size: 4vw;
    font-weight: 700;
}

.subtitle {
    font-size: 1.3vw;
    font-weight: 700;
}

.card {
    border-radius: 4px;
}